.virtical-line {
	border-left: 2px solid lightgray;
	height: 70%;
	position: absolute;
	padding: 3%;
	transform: translateX(-50%);
}

.login-image {
	background-image: url(../public/img/login.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.my-input {
	width: 50%;
}
